datasets/MultiTQ/kg/*.txt filter=lfs diff=lfs merge=lfs -text
datasets/MultiTQ/questions/*.json filter=lfs diff=lfs merge=lfs -text
datasets/MultiTQ/prompt/*.json filter=lfs diff=lfs merge=lfs -text
datasets/TimeQuestions/kg/*.txt filter=lfs diff=lfs merge=lfs -text
datasets/TimeQuestions/questions/*.json filter=lfs diff=lfs merge=lfs -text
datasets/TimeQuestions/prompt/*.json filter=lfs diff=lfs merge=lfs -text
